// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lighter-blue: #387DCB;
$light-blue: #1E5C8C;
$blue: #1B3F7F;
$orange: #E9540D;
$green: #7DB500;
